{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Welcome|Dashboard
{% endblock title %}

<style>
    .card{
        margin: 0px auto !important;
    }
    form > *{
        margin: 0px;
    }
</style>

{% block content %}

<br>
<div class="card col-md-6" style="margin: 0px auto;">

    <div class="card-header bg-primary">
        Change Password
    </div>
    <div class="card-body" style="background: rgba(0,0,255,.1);">
        <form action="" method="post" class="container col-md-12">

            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="d-grid">
                <input type="submit" class="btn btn-primary" value="Change Password">
    
            </div>
        </form>
    </div>

</div>

{% endblock content %}


