
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/custom/login.css' %}">
</head>
<body>
  

<div>
    
    <div id='background_body'>
        <div class="overlay"></div>
        <div class="login_content">
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-center text-white text-lg">
                    Register
                    </div>
                    <div class="card-body">
                        {% include 'partials/_alerts.html' %}
                        <form method="POST">
                            {% csrf_token %}
                            
                            {{ forms|crispy }}
                        
                            <div class="d-grid">
                                <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                              </div>
                        </form>
                        <span class="text text-danger mt-5">Already a User? Login <a href="{% url 'login' %}">here</a></span>
                    </div>
                
                </div>
               </div>
                        
            
            
    </div>
       
            
            
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>




