*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

#background_body{
    
    background: url('../../images/backlogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#background_body > .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1111;
}
.login_content{
   display: grid;
   grid-template-columns: 1fr;
   place-content: center;
   height: 100vh; 
   justify-items: center;
   opacity:1 !important;
   z-index: 9999;
}
.card{
    z-index:9999;
}

